/*http://bgfons.com/upload/paper_texture264.jpg*/



body{
  background-image: url('http://bgfons.com/upload/paper_texture264.jpg');
}

h1{
  text-align: center;
  -webkit-animation: fadein 4s;
}

.writepoem{
  text-align: center;
  -webkit-animation: fadein 4s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.poems{
  text-align: center;
  display: inline-block;
  margin: 1em;
  padding: .5em;
  background-image: url('http://tatamiroom.com/big_image/SP2100.jpg');
  border-radius: 5%;
  box-shadow: 5px 4px 5px floralwhite;
  -webkit-animation: fadein 2.5s;
}
